
.userButton {
    position: absolute;
    top: 10px; /* Adjust the top offset as needed */
    right: 0; /* Adjust the right offset as needed */
    padding: 0;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }
  
  .userIcon {
    width: 4rem; /* Adjust size as needed */
    height: 4rem;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image scales properly */
    color: #FFBF00;
  }
  
  .userButton:hover .user-icon {
    opacity: 0.8; /* Slight transparency effect on hover */
  }